@{
    ViewData["Title"] = "Contact the NHS App team - NHS";
    ViewData["PageHeader"] = "Contact the NHS App team";
    ViewData["Description"] = new String[] {
        "For emergency medical attention, please dial 999 or attend your local accident and emergency department if you are able to do so.",
        "If you require non-urgent medical advice please contact your <a href='https://www.nhs.uk/service-search' target='_blank'>GP, your local NHS walk-in or urgent care centre</a>, <a href='https://www.england.nhs.uk/ourwork/pe/nhs-111/' target='_blank'>call NHS 111</a> or visit the <a href='https://www.nhs.uk' target='_blank'>NHS website</a> for health and lifestyle advice.",
    };
}


@*

## Form layout:

# Contact us about the NHS App

Please note you cannot get medical advice using this form. If require medical attention call 111.

## Before you contact us
For help with common problems, check our help and support page.

## What are you contacting us about?

a problem with the app 
a way to improve the app 
something else

## Your message for us 
Do not include personal or medical information. We will aim to respond within 4 hours.  
+ Examples of personal or medical information 

- NHS number
- Home address
- Telephone number
- Date of birth 
- National insurance number
- A medical diagnosis 



## Full name (optional)
[						]

## Email address
We’ll only contact you about this. You’ll be sent a short satisfaction survey once we have replied.
[						]

## Privacy policy agreement
You must confirm you have read and understood our privacy policy before sending. 

[ ] I have read and understood the privacy policy. 

Send message 




## Todo

1. (done)Identify mandatory fields.
  - Asked Ben and apparently we do not identify mandatory files.
2. (done)Enter your answer should only be displayed if the other
   options has been selected.
   Note - need to make this form work if javascript is not available

*@

<form>

    <!-- Disclaimer -->

    <div class="nhsuk-form-group">
        <h2>Before you contact us</h2>
        <p>
            For help with common problems, check our <a target="_blank" href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help-and-support/"> help and support page</a>.
        </p>
    </div>


    <!-- Contact reason -->

    @* Todo - What are you contacting us about *@

    <div class="nhsuk-form-group">
        <h2> What are you contacting us about?</h2>
        <div class="nhsuk-radios">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="contact-reason-1" name="contact-reason" type="radio" value="problem">
            <label class="nhsuk-label nhsuk-radios__label" for="contact-reason-1">
              a problem with the app
            </label>
            <span id="contact-reason-1-hint" class="nhsuk-hint nhsuk-radio-hint">
                e.g. I can't log in
            </span>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="contact-reason-2" name="contact-reason" type="radio" value="improve">
            <label class="nhsuk-label nhsuk-radios__label" for="contact-reason-2">
              a way to improve the app
            </label>
            <span id="contact-reason-2-hint" class="nhsuk-hint nhsuk-radio-hint">
                e.g. I'd like to talk to a doctor through the app
            </span>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="contact-reason-3" name="contact-reason" type="radio" value="other">
            <label class="nhsuk-label nhsuk-radios__label" for="contact-reason-3">
              something else
            </label>
            <span id="contact-reason-3-hint" class="nhsuk-hint nhsuk-radio-hint">
                e.g. I have a query about how my data is used
            </span>
          </div>
        </div>
    </div>


    <!-- Message -->

    <div class="nhsuk-form-group">
        <h2>Your message for us</h2>

        <p>
            Do not include personal or medical information in your message. We will aim to respond within 4 hours. 
        </p>

        <span id="more-detail-hint" class="nhsuk-hint">

            <details class="nhsuk-details">

                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                        Examples of personal or medical information
                    </span>
                </summary>

                <div class="nhsuk-details__text">
                    <ul class="nhsuk-contents-list__list">
                        <li class="nhsuk-contents-list__item">NHS number</li>
                        <li class="nhsuk-contents-list__item">Home address</li>
                        <li class="nhsuk-contents-list__item">Telephone number</li>
                        <li class="nhsuk-contents-list__item">Date of birth</li>
                        <li class="nhsuk-contents-list__item">Nathional insurance number</li>
                        <li class="nhsuk-contents-list__item">A medical diagnosis</li>
                    </ul>
                </div>

            </details>
        </span>
        <textarea class="nhsuk-textarea js-character-count " id="message" name="message" rows="8" aria-describedby="with-hint-hint"></textarea> 
    </div>


    <!-- Full name -->

    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="full_name">
            Full name (optional)
        </label>
        <span id="full_name_hint" class="nhsuk-hint">
            We will use the name you provide in any replies to your message. We will not use your name for any other purpose.
        </span>
        <input class="nhsuk-input" id="full_name" name="full_name" type="text">
    </div>


    <!-- Email address --> 

    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="email">
            Email address
        </label>
        <span id="email-hint" class="nhsuk-hint">
           we will use your email address to reply and invite you to complete a voluntary short satisfaction survey. We will not use your email address for any other purpose. 
        </span>
        <input class="nhsuk-input" id="email" name="email" type="email" aria-describedby="email-hint">
    </div>


    <!-- Privacy policy confirmatin -->

    <div class="nhsuk-form-group">
        <label class="nhsuk-label">
            Privacy policy agreement
        </label>
        <span id="email-hint" class="nhsuk-hint">
            You must confirm you have read and understood our <a target="_blank" href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/privacy-policy/">privacy policy</a> before sending. 
        </span>
        <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
                <!-- todo-design: Tick is not styled correctly -->
                <input class="nhsuk-checkboxes__input" id="privacy_policy_confirmed" name="privacy_policy_confirmed" type="checkbox" value="confirmed" >
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privacy_policy_confirmed">
                    I have read and understood the privacy policy.
                </label>
            </div>
        </div>
    </div>

    <button type="submit" class="nhsuk-button">Send message</button>

</form>
